<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles.css">
    <title>Uracline Space | Sign Up</title>
</head>
<body class="body form-body" id="login-body">
    <form class="stand-alone-form" action="/signup" method="POST">
        <h1>Sign In</h1>
        <img src="images/user.png" class="icon" alt="">
        <input required placeholder="Name..." type="text" name="customer_name" id="">
        <input required placeholder="Gmail..." type="gmail" name="customer_gmail" id="">
        <input required placeholder="Password..." type="password" name="customer_password" id="">
        <input required placeholder="Confirm password..." type="password" name="customer_confirm_password" id="">
        <button type="submit" class="btn-primary">Submit</button>
    </form>
</body>
</html>